.index-wrapper {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.todo-item {
    padding-top: 5rem;
    .create-new-button-wrapper {
        display: flex;
        align-items: center;
        padding: 2rem;
    }
    .dates {
        margin-bottom: 1rem;

        p {
            margin: 0;
        }
    }
}

.bg-glass {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
